[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emory/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
/[Aa]ssets/[Aa]sset[Ss]tore-5.x/
*.unitypackage
.DS_Store
.idea/
.vscode/
thumbs.db
*.orig
